<div class="container">
  <form [formGroup]="userDetails" (submit)="onSubmit()">
     <div class="row">
        <div class="col">
          <label>Name</label>
        </div>
         <div class="col">
          <input  class="form-control" type="text" formControlName="name" placeholder="Name" />
          <div *ngFor="let error of errorMessages.name">
            <ng-container *ngIf="name?.hasError(error.type) && (name?.dirty || name?.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
         </div>
   
     

    </div>
     <div class="row">
        <div class="col">
          <label>Age</label>
        </div>
         <div class="col">
          <input  class="form-control" type="number" formControlName="age" placeholder="Age" />
          <div *ngFor="let error of errorMessages.age">
            <ng-container *ngIf="age?.hasError(error.type) && (age?.dirty || age?.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
         </div>
    
     
    </div>
     <div class="row">
        <div class="col">
          <label>Contact</label>
        </div>
         <div class="col">
          <input  class="form-control" type="number" formControlName="contact" placeholder="Contact" />
          <div *ngFor="let error of errorMessages.contact">
            <ng-container *ngIf="contact?.hasError(error.type) && (contact?.dirty || contact?.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
         </div>
     
    
    </div>
     <div class="row">
        <div class="col">
          <label>Email</label>
        </div>
         <div class="col">
          <input  class="form-control" type="email" formControlName="email" placeholder="Email" />
          <div *ngFor="let error of errorMessages.email">
            <ng-container *ngIf="email?.hasError(error.type) && (email?.dirty || email?.touched)">
              <small class="error-message">{{error.message}}</small>
            </ng-container>
          </div>
         </div>
     
     
    </div>
    <div class="row">
      <div class="col btn-col">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
      </div>
   
  </form>
</div>